<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test" parallel="classes">
    <classes>
      <class name="testNgSmilo.LoginClass"/>
      <class name="testNgSmilo.PepLogin"/>
      <class name="testNgSmilo.WidgetLaunch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
